header{
    width: 100%;
            height: 100px;
            
            display: flex;
            justify-content: space-between;
            padding: 40;
    
}

body{
  background: #f6f6f6 linear-gradient(180deg, #006491 0, #006491 100px, #f6f6f6 0, #f6f6f6) 0 0 no-repeat;
}

.logo{
   align-content: center;

 height: 80px;
}


nav{
    display: flex;
    
    
    padding: 10px;
    gap: 10px;
   
}


#btn{
 
  display: flex;
  gap: 20px;
  margin-right: 50px;
  
}

strong{
    
    font-size: large;
    font-weight: bold;
}

.START{
    font-weight: bolder;
    font-size: 23px;
}

.inline{
    color: #015b85;
    display: flex;
  gap: 40px; /* space between texts */
  justify-content: center;
  text-align: center;
  padding: 20px 0;
    
}
/*code for the horizontal line starts*/
.inline::before,
.inline::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.inline::before {
    margin-right: 15px;
}

.inline::after {
    margin-left: 15px;
}

.inline {
    font-weight: bold;
    font-size: 14px;
}
/*code for the horizontal line ends*/

.or{
    font-family: cursive;
    color: rgb(115, 115, 115);
}

 .dominos{
    color: aliceblue;
background-color: #c40000;
padding: 20px 30px;
border: none;
border-radius: 10px;
cursor: pointer;
}

.dominos:hover{
    background-color: #940202;
}

.btn1{
margin-right: 100px;
border: none;
border-radius: 3px;
padding: 10px;

 display: flex;
    align-items: center;
   
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
}

.btn1:hover{
    background-color: #01415f;
    border-radius: 10px;
    border: 5px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 10px;
}

nav ul li{
    margin: 10px;
    justify-content: space-between;
    
}

nav ul li a{
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #f6f6f6;
}
nav ul li:hover{
    background-color: #01415f;
    border-radius: 10px;
    border: 5px;
    
    
}

.btn1{
    background-color: #006491;
    border-radius: 5px;
    border: 1px;
}

img{
    cursor: pointer;
}

footer{
    background-color: rgb(184, 184, 184);
    height: 300px;
    margin: 0%;
}